
<div class="row">

  <div class="col-sm-12">

    <div class="card mt-4 shadow-sm">

      <div class="card-header">
        <h2 class="card-title">My Tasks</h2>
      </div>

      <div class="card-body">

        <div class="row">

          <div class="col-sm-12">

            <app-task-add></app-task-add>

          </div>

        </div>

        <div class="row">

          <div class="col-sm-12">

            <app-task-list></app-task-list>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>

